.to-middle{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}
.left, .right {
    border: 1px solid #746D6D;
    background-color: #FBF5E5;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 50px;
}